.slider-button {
    cursor: pointer;

    position: absolute;
    top: 50%;
    z-index: 3;
    width: 39px;
    height: 39px;
    margin: -19.5px 0 0 0;

    opacity: 0.9;

    background: url('./arrow-left.svg') no-repeat center / cover;
    transition: opacity 1s linear;
}

.slider-button.next {
    right: -10px;
    transform: rotate(-180deg);
}

.slider-button.prev {
    left: -12px;
}

.slider-button.next-alt {
    right: -12px;
    transform: rotate(-180deg);
}

.slider-button.prev-alt {
    left: -4px;
}

.slider-button.next-alt:hover,
.slider-button.next:hover {
    transform: rotate(360deg);
}

.slider-button.prev-alt:hover,
.slider-button.prev:hover {
    transform: rotate(180deg);
}

.slider-button:hover {
    background: url('./arrow-right-dark.svg') no-repeat center / cover;
    opacity: 1;
    transition: opacity 1s linear;
}

@media (max-width: 768px) {
    .slider-button {
        top: 40%;
    }

    .slider-button.next {
        right: -11px;
    }

    .slider-button.next-alt {
        right: -12px;
        top: 72%;
    }

    .slider-button.prev-alt {
        top: 72%;
        left: -12px;
    }
}
