.advantages-card {
    width: 400px;
    min-height: 225px;
    margin: 2px;
    padding: 22px 20px 45px;

    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 1340px) {
    .advantages-card {
        width: 300px;
        min-height: auto;
        padding: 22px 18px 31px;
    }
}
