.subtitle {
    font-size: 30px;
    font-family: 'Ferry Black';
    letter-spacing: 0.6px;
}

.big-alt,
.big {
    margin: 0 0 17px;
    font-size: 45px;
    letter-spacing: 0.45px;
}

.big-alt {
    padding-left: 10px;
}

@media (max-width: 1345px) {
    .subtitle {
        font-size: 28px;
        letter-spacing: 0.28px;
    }

    .big-alt,
    .big {
        font-size: calc(28px + 17 * (100vw / 1340));
        letter-spacing: calc(0.28px + 0.17 * (100vw / 1340));
    }
}

@media (max-width: 768px) {
    .big-alt,
    .big {
        font-size: calc(28px + (17 + 17 * 0.7) * ((100vw - 375px) / 1340));
        letter-spacing: calc(0.28px + (0.17 + 0.17 * 0.7) * ((100vw - 375px) / 1340));
    }
}
