.auth-menu {
    display: flex;
    align-items: center;
    column-gap: 19px;
    font-size: 14px;
    letter-spacing: 0.14px;
}

.auth-menu__link_disable {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.5);
}

.auth-menu__btn {
    width: 65px;
    height: 26px;
    background: #7ce3e1;
    border-radius: 5px;
    transition: 0.3s linear;
}

.auth-menu__btn:hover {
    background: #83eae8;
    transition: 0.3s linear;
}

.auth-menu__btn:active {
    background: #67e0de;
    transition: 0.05s linear;
}

@media (max-width: 1100px) {
    .auth-menu {
        position: static;

        flex-direction: column;
        row-gap: 20px;
        font-size: 16px;
    }

    .auth-menu__btn {
        width: 295px;
        height: 52px;
        font-size: 20px;
        letter-spacing: 0.2px;
    }

    .delim {
        display: none;
    }
}
